.listformat-ui-expert-groups {
  display: table;
  width: 100%;
}

.listformat-ui-expert-group {
  padding: 5px 0;
  overflow: auto;
  display: table-row;
}

.listformat-ui-expert-group > div {
  border-top: 1px solid #aaa;
  display: table-cell;
  padding: 10px 20px 10px 0;
}
